*{
    margin: 0px;
    padding: 0px;

    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    padding-top: 50px;
    padding-bottom: 50px;
    width: 80%;
    background-color: black;
    margin-left: 10%;
}

.paddy {
    padding:20px;
}

.header{
    height: 50px;
    width: 100%;
    /* background-color: yellowgreen; */
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: whitesmoke;
}

.cards {
    width: 100%;
    
    background-color: goldenrod;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.card{
    height: 250px;
    width:19%;
    /* background-color: yellow; */
    margin-top:22px;
    margin-bottom: 10px;
    background-size: cover;
   

}

.overlay {
    height: 260px;
    width:100%;
    background-color: greenyellow;
    margin-top:0px;
    margin-bottom: 0px;
    justify-content: space-evenly;
    
   
   
}

.opened{
    display: none;
}